{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load staticfiles %}


{% block title %}
    Your Beliefs Round {{ subsession.round_number }}
{% endblock %}

{% block styles %}
    <link href="{% static "tullock_income_ret/css/Belief.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

Please answer the following questions:
    <br>
    <br>
<ol type="1"> <!-- This starts a numbered list -->

   <li> {% formfield player.avgbelief with label="What do you think will be <u>the average number</u> of sequences solved in this round by your group?" %} </li>

    <br>

    <li> {% formfield player.mostprodBTbelief with label="How many sequences do you think will the most productive member of your group solve in this period?" %} </li>

</ol>



    {% next_button %}

{% endblock %}