{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}


{% block title %}
    Your Beliefs Round 2.{{ subsession.round_number }}
{% endblock %}

{% block styles %}
    <link href="{% static "tullock_income_ret/css/Belief.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<hr>

Please answer the following questions:
    <br>
    <br>
<ol type="1"> <!-- This starts a numbered list -->


   <li> How much do you think will player {{ player.get_others_in_group.0.role }} invest in the present round (2.{{ subsession.round_number }})?:
       {% formfield player.investment_belief_0 label="" %} </li>

   <li> How much do you think will player {{ player.get_others_in_group.1.role }} invest in the present round (2.{{ subsession.round_number }})?:
       {% formfield player.investment_belief_1 label="" %} </li>

</ol>


<br>
    {% next_button %}

{% endblock %}