{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load humanize %}

{% block title %}
    Grouping
{% endblock %}

{% block content %}
<hr>
   <div class="card bg-light instructions">
   <div class="card-body">

    <p>
        Until now you have played on your own. Now, you have been randomly allocated into a group of {{ Constants.players_per_group|apnumber }} participants: A, B and C<br>
        You are participant <strong>{{ player.role }}</strong>.
        <br>
    </p>
       <p>
        Your decisions and results will be absolutely anonymous. Your identity will neither be revealed to your co-participants nor to the experimenters
        at any time during or after the experiment.</p>
    <p>
        There will be <strong>{{ Constants.num_rounds|apnumber }} rounds</strong> of {{ Constants.time_in_minutes|apnumber }} minutes.
        You and the other group members will be performing the same type of task as in the rounds before.</p>
    <p>
        <div class="card card-primary border-primary mb-3">
         <div class="card-body">
        <p>
        In the <strong>first round all participants will have the same wage </strong> of 1 Token per correctly solved sequence.
       </p>
    <p>
        In all the <strong>following rounds</strong> exactly <strong>one out of the {{ Constants.players_per_group|apnumber }} group members</strong> will get
        a wage of <strong><em>{{ Constants.tokensper_string_high|apnumber }} tokens</em></strong> per correct sequence.
       The other players will keep their wage of {{ Constants.tokensper_string|apnumber }} token per string. All participants in all rounds will get 1 token per
       {{ Constants.secondsper_token }} seconds spent in "switch".
   </p>
       {% if Constants.treatment %}
       <p>
       Your income from solving sequences will be taxed at at rate of {{ Constants.tax_rate_percent }}%. The taxes collected from all participants in your group
       will be equally distributed among the group after each round.
       </p>
       {% endif %}
        </div>
        </div>
    <p>
    {% if Constants.treatment %}

        To win the higher wage you will have the opportunity to invest your earnings from counting "a"s in the <i>Letter Counting Task</i> (but not those from spending time in "switch")
        plus your share of the redistributed taxes.<br>
        For instance, if you solved 10 sequences with a wage of 1 Token per sequence your income after taxation of 30% is equal to 7 token.
        Assuming that you get 2 Tokens from redistribution, your total available income for investing would be equal to 9 tokens.

    {% else %}
        To win the higher wage you will have the opportunity to invest some of your earnings from counting "a"s in the <i>Letter Counting Task</i>
        (but not those from spending time in "switch").
    {% endif %}
    </p>
    <p>
        Your probability of obtaining the higher wage is equal to your share of all the investments in your group. You can keep the tokens that you do not invest,
        but your investment will not be refunded if you do not win the prize. You cannot use your earnings from previous rounds.
        The more you invest, the higher are your chances!
    </p>
    <p>
        On the next screen, you will see an illustrative example of how the prize is awarded.</p>
   </div>
   </div>

    {% next_button %}

{% endblock %}
