{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Investment Instructions
{% endblock %}

{% block content %}

<hr>
   <div class="card bg-light instructions">
   <div class="card-body">
    <p>
        After the task you will get feedback about the number of sequences you solved and your earnings. Subsequently you will have the opportunity to make an investment
        and, finally, you will see the results for the group.</p>

    <p>
        After completion of all rounds you will be asked to fill out a short survey before the session is finished.</p>
    <p>
        Press <em>Next</em> when you have read and understood the instructions. Next we will ask you about your beliefs
        regarding the production of the other players.
	    After that, you may still need to wait for other participants to get ready.
    </p>
   </div>
    </div>

    {% next_button %}

{% endblock %}
