{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Feedback Round 2.{{ subsession.round_number }}
{% endblock %}

{% block content %}
<hr>
<div class="card">
  <div class="card-header text-white bg-primary mb-3"> Your earnings from this round: </div>
  <div class="card-body">
    <!-- Feedback if treatment is True -->
    {% if Constants.treatment %}
       You solved {{ player.production_strings|floatformat:0 }} sequences which earns you
          {{ player.income_strings_gross|floatformat:0 }} Tokens. <br>
       That income has been taxed with a rate of {{ Constants.tax_rate_percent|floatformat:0 }}%.<br>
       Your income after taxation is <strong>{{ player.income_strings_after_tax|floatformat:2 }}</strong> Tokens<br>
        <br>
        The total taxes have been collected and you receive <strong>{{ group.transfer|floatformat:2 }}</strong> Tokens.
      <br>
     You spent {{player.time_in_switch}} seconds in the <em>switch mode</em> which earns you <strong>{{ player.income_in_switch|c|floatformat:1 }}</strong> Tokens.<br><br>
     Your total income in this round is therefore: <strong>{{ player.net_income|floatformat:1 }}</strong> Tokens. <br>

     <!-- Feedback if treatment is False -->
    {% else %}
     You solved {{ player.production_strings|floatformat:0 }} sequences which earns you
          <strong>{{ player.income_strings_gross|c|floatformat:0 }}</strong> Tokens.
      <br>
     You spent {{player.time_in_switch}} seconds in the <em>switch mode</em> which earns you <strong>{{ player.income_in_switch|c|floatformat:1 }}</strong> Tokens.<br><br>
     Your total income in this round is therefore: <strong>{{ player.net_income|c|floatformat:1 }}</strong> Tokens. <br>
    {% endif %}

  </div>
</div>
    <br>

{% if subsession.round_number < Constants.num_rounds %}
    <div class="alert alert-info" role="alert">
    <p> In the next screen you will have the opportunity to invest your income from solving sequences in this round in order to win the higher wage.
    Your probability of winning will be equal to the share of your investment in relation to the sum of all investments by the group.</p>
    </div>
{% endif %}
</div>
<br>
<!-- End Table -->
 {% next_button %}

{% endblock %}


