{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Investment Round 2.{{ subsession.round_number }}
{% endblock %}

{% block styles %}
<link href="{% static "tullock_income_ret/jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
<style type="text/css">
    .bid-slider {
        margin: 1.5em auto;
        width: 70%;
    }

    .bid {
        text-align: center;
    }

    .payoff {
        margin: 1.5em 0;
    }
</style>
{% endblock %}


{% block content %}
<hr>

    <div class="card">
        <div class="card-header text-white bg-primary mb-3"> Submit your investment:</div>
    <div class="card-body">

    <p>
        Your disposable income is <strong>{{ player.available_income|floatformat:2 }} Token</strong>.
    </p>

    <div class="form-group required">
        <label class="control-label" for="id_investment_amount">Please submit your investment (from 0 to {{ player.available_income|floatformat:0 }}):</label>
        <div class="controls">
            <input type="hidden" name="investment_amount" id="id_investment_amount" value="0">
            <div class="bid-slider"></div>
            <div class="bid">Your investment: <strong><span class="bid-value"></span> </strong>Token.
                You keep <strong><span class="payoff-value"></span></strong></div>
            <div class="payoff">If you win the contest, you will earn a wage of <strong>{{Constants.tokensper_string_high}} Tokens per sequences.</strong>
                If you lose it, a wage of <strong>{{Constants.tokensper_string}}</strong>. </div>
        </div>
         </div>
    </div>
    </div>

    <br>
    {% next_button %}


    {{ form.investment_amount.errors }}

{% endblock %}


{% block scripts %}
<script src="{% static "tullock_contest/jquery-ui/jquery-ui.min.js" %}"></script>
<script>
jQuery(document).ready(function ($) {
    var INCOME = {{ income }};

    var input = $('#id_investment_amount');

    $('.bid-slider').slider({
        min: 0,
        max: INCOME,
        step: 0.2,
        // make values below 0 and over 1 snap back
        slide: function (event, ui) {
            input.val(ui.value);
            updateBidValue();
        }
    });

    function updateBidValue() {
        $('.bid-value').text(input.val());
        $('.payoff-value').text(calculatePayoff());
    }

    function calculatePayoff() {
        var value = parseFloat(input.val()).toFixed(2); //ParseFloat reduces float to two decimals
        var payoff = parseFloat(INCOME - value).toFixed(2); //ParseFloat reduces float to two decimals
        return payoff;
    }

    updateBidValue();
});
</script>
{% endblock %}
