{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Start Round 2.{{ subsession.round_number }}
{% endblock %}

{% block content %}
<hr>

    <div class="jumbotron">
    <h1>Round 2.{{ subsession.round_number }}</h1>
    <br>
    <br>
    <h3>{% if subsession.round_number == Constants.num_rounds %}
    This is the last round.
        {% endif %}
    </h3>
        <p>
           In this round, for each solved sequence you will receive:
            {% if subsession.round_number > 1 %}
            {% if winner_last %}
                2 Tokens
            {% else %}
                1 Token
            {% endif %}
        {% else %}
                1 Token
        {% endif %}
        </p>
        <br>
        <br>
        <br>
    {% next_button %}
    </div>

{% endblock %}
