{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Part 2 Instructions (3/3)
{% endblock %}

{% block content %}

    <p>
        After the task you will get feedback about the number of sequences you solved and your earnings. Subsequently you will have the opportunity to make an investment
        and, finally, you will see the results for the group.</p>
    <p>
        After completion of part 2 you will be asked to fill out a short survey before the experiment is finished.</p>
    <p>
        Press <em>Next</em> when you have read and understood the instructions. Next we will ask you about your beliefs
        regarding the production of the other players.
	    After that, you may still need to wait for other participants to get ready.
    </p>

    {% next_button %}

{% endblock %}
