{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        Your task is to count how many <strong> "a"s </strong> there are in the sequence of characters currently displayed.
    </p>
    <p>
        Per correctly solved sequence you will get {{ Constants.tokensper_string }} Token. In the <strong> switch mode </strong>
        you will get 1 token per each {{ Constants.secondsper_token }} seconds in "switch".
    </p>
    <p>
        For your convenience, these instructions will remain available during all screens of this task.
    </p>

</div>
